.navbar-logo 
{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left:10rem;
    margin-top :10px;
    color: #fff;
}

.navbar-logo:hover
{
  text-decoration: none;
  color:darkgrey;
}

  .header
  {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-size:46px;
  }

 

  .nav-links 
  {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%; 
    font-size:20px;
    font-family: Tahoma;
    cursor: pointer;
  }

  .nav-links:hover
  {
    text-decoration: none;
    color:darkgrey;
  }

  .button
  {  
    background-color:#5D5C61;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:18px;
    cursor: pointer;
    font-family:Tahoma;      
    margin:0 auto;
    border-radius:10px;
    transition-duration: 0.4s;
  }

 .button:hover
 {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
    background-color:#B1A296;
 }

 .title
 {
     text-decoration: none;
     font-size:22px;
     margin-top:6px;
     color:white;
 }